body{
    color: #333;
    font-family: sans-serif;
    background: #000;
    
}

input {
    display: block;
    padding: 9px;
    margin: 12px auto;
    box-sizing: border-box;
    border: none;
    background: #444;
    border-top: 2px solid #48e;
    background: transparent;
    outline: none !important;
    transition: background 0.3s;
    width: 100%;
    color: #fff;
}

input::placeholder{
    color: #48e;
    font-weight: 700;
    transition: color 0.3s;
}

input:hover {
    background: #26a;
}

input:hover::placeholder {
    background: #26a;
    color: #fff;
}



input[type="submit"]{
    width: 50%;
    padding: 12px;
    background: #26a;
    color: #fff;
    margin: 24px 0;
    margin-bottom: 12px;
}

input[type="submit"]:hover {
    background: #048;
}

form {
    width: 86%;
    margin: auto;
    background-color: #013;
    padding: 30px;
}

h2 {
    color: #fff;
    margin-bottom: 36px;
}

.green {
    color: #9c9;
}

.red {
    color: #c99;
}